Estimating the value of a used car is one of the main everyday challenges in the automotive business. We believe that the sales price of a car is not only based on the value of the product itself, but is also heavily influenced by things like market trends, current availability, and politics.
With this challenge, we hope to raise some interest in this exciting topic and also gain some insight into what the main factors are that drive the value of a used car.

The data provided consists of almost 5000 real BMW cars that were sold via a b2b auction in 2018. The price shown in the table is the highest bid that was reached during the auction.

We have already done some data cleanup and filtered out cars with engine damage etc. However there may still be minor damages like scratches, but we do not have more information about that.

We have also extracted 8 criteria based on the equipment of cars that we think might have a good impact on the value of a used car. These criteria have been labeled feature1 to feature8 and are shown in the data below.

## 0. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Lasso, Ridge, RidgeCV, LassoCV
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.metrics import mean_squared_error, r2_score
import bisect

import warnings
warnings.filterwarnings('ignore')

##  1. Reading data

In [3]:
df = pd.read_csv("data/bmw_pricing_challenge.csv")

In [4]:
df.head()

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
0,BMW,118,140411,100,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,11300,2018-01-01
1,BMW,M4,13929,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
2,BMW,320,183297,120,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,10200,2018-02-01
3,BMW,420,128035,135,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,25100,2018-02-01
4,BMW,425,97097,160,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400,2018-04-01

In [5]:
df.shape

(4843, 18)

In [6]:
df.describe()

            mileage  engine_power          price
count  4.843000e+03    4843.00000    4843.000000
mean   1.409628e+05     128.98823   15828.081767
std    6.019674e+04      38.99336    9220.285684
min   -6.400000e+01       0.00000     100.000000
25%    1.029135e+05     100.00000   10800.000000
50%    1.410800e+05     120.00000   14200.000000
75%    1.751955e+05     135.00000   18600.000000
max    1.000376e+06     423.00000  178500.000000

## 2. Exploratory Data Analysis

### 2.1. Missing Values

Check if the dataset contains any missing values.

### 2.2. Distribution of the target variable

Plot the distribution of the target variable.

### 2.3. Distribution of numerical variables

Plot the distribution of the numerical features.

### 2.4. Histogram of categorical variables

Plot the histogram of the categorical features.

## 3. Data Splitting

Split the dataset into 2 training and test datasets.

## 4. Feature Engineering

### 4.1. Removing non-predictive features

Remove any unnecessary feature.

### 4.2. Creating new features

Creating polynomial features for numerical columns

### 4.3. Scaling numerical variables

### 4.4. Categorical variables encoding

Convert categorical columns into numerical columns using label encoding or one-hot encoding.

### 4.5. Converting boolean columns

## 5. Linear Regression

Fit a linear regression model on the training set. Evaluate the model on the testing set. Use the $R^2$ as an evaluation metric.

Plot feature importance/weight.

## 6. Ridge

Fit a ridge regression model on the training set. Use cross-validation in order to tune the regularization parameter of the ridge model. Evaluate the model on the testing set. Use the $R^2$ as an evaluation metric.

Plot feature importance/weight.

## 7. Lasso

Fit a lasso regression model on the training set. Use cross-validation in order to tune the regularization parameter of the ridge model. Evaluate the model on the testing set. Use the $R^2$ as an evaluation metric.

Plot feature importance/weight.